[[tile]]
type = "iwd"
interface = "wlan0"

[[tile]]
type = "load"

[[tile]]
type = "memory"

[[tile]]
type = "hostname"

[[tile]]
type = "battery"

[[tile]]
type = "time"
format = "%Y-%m-%dT%H:%M:%S"
